<!-- <h1>product works!</h1> -->
<div class="container">
    <div class="row">
        <div class="col s3">
            <ul class="collection">
                <li class="collection-item">Accesorios</li>
                <li class="collection-item">Anzuelos</li>
                <li class="collection-item">Bobinas</li>
                <li class="collection-item">Cajas</li>
                <li class="collection-item">Cañas</li>
                <li class="collection-item">Carretes</li>
                <li class="collection-item">Ropa</li>
              </ul>
        </div>
        <div class="col s9">
            <div class="row">
                <h1>Nuestras Ofertas</h1>
                <div class="col s4">
                    <img src="" alt="">
                </div>
                <div class="col s4">
                    <img src="" alt="">
                </div>
                <div class="col s4">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>