<h1>Product</h1>
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]=productService.selectedProduct._id>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" #name="ngModel" name="name" [(ngModel)]="productService.selectedProduct.name" placeholder="Enter product name">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" #brand="ngModel" name="brand" [(ngModel)]="productService.selectedProduct.brand" placeholder="Enter product brand">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" #description="ngModel" name="description" [(ngModel)]="productService.selectedProduct.description" placeholder="Enter product description">
                            </div>
                            <div class="input-field col s12">
                                <input type="number" #cash="ngModel" name="cash" [(ngModel)]="productService.selectedProduct.cash" placeholder="Enter product cash">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn">Clean</button>
                                    <button class="btn right">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Cash</th>
                </thead>
                <tbody>
                    <tr *ngFor='let product of productCollection'>
                        <td>{{product?.name}}</td>
                        <td>{{product?.brand}}</td>
                        <td>{{product?.description}}</td>
                        <td>{{product?.cash}}</td>
                        <td>
                            <a>
                                <i class="material-icons pointer" (click)='addProduct(product)'>edit</i>
                            </a>
                            <a>
                                <i class="material-icons pointer" (click)='deleteProduct(product._id)'>delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>